body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 10px;
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.container h1 {
  font-size: 2rem;
  color: #444;
  margin-bottom: 20px;
}
/* Wrapper for styling */
.input-wrapper {
  position: relative;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

input[type="text"]:focus {
  border-color: #007bff;
}

label {
  position: absolute;
  left: 5px;
  top: 10px;
  font-size: 16px;
  color: #999;
  transition: all 0.3s ease;
  pointer-events: none;
}

input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label {
  top: -7px;
  font-size: 12px;
  color: #007bff;
  background-color: white;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}
